{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">Training Factory Den Haag</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                        {%  if 'ROLE_ADMIN' in app.user.roles %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('lesson-list') }}">Lesson</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('training-list') }}">Training</a>
                            </li>
                            {%  if app.user %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="/TFDH/web/app_dev.php/admin/logout">Admin Logout</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {%  if 'ROLE_INSTRUCTOR' in app.user.roles %}
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home (Instructor)</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/TFDH/web/app_dev.php/logout">Logout</a>
                            </li>
                        {% endif %}
                        {%  if 'ROLE_USER' in app.user.roles %}
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home (User)</a>
                            </li>
                            {%  if app.user %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="/TFDH/web/app_dev.php/logout">Logout</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Training</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('register') }}">Sign up</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}